# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/

# OS / editor
.DS_Store
Thumbs.db
.vscode/

# Build outputs
build/
dist/
*.spec

# Local database
*.db
*.sqlite
*.sqlite3

# PyInstaller / packaging
*.exe

# Misc
.idea/